[submodule "deps/toolkit"]
	path = deps/toolkit
	url = https://github.com/20k/JGameToolkit
[submodule "deps/vec"]
	path = deps/vec
	url = https://github.com/20k/funvectormaths
[submodule "deps/networking"]
	path = deps/networking
	url = https://github.com/20k/clientservernetworking
